@use "../../libs/normalize.css/normalize";

@use "presets/skin";
@use "presets/variables";

@use "mixins/mixins";
@use "mixins/mixins-media";
@use "mixins/extends";

@use "common/typography";
@use "common/classes";

@use "components/header/header";
@use "components/header/header-overlay";
@use "components/header/header-menu";
@use "components/header/header-logo";
@use "components/header/header-navbar";
@use "components/header/header-content";
@use "components/sections/skills/skills";
@use "components/sections/skills/skill-item";
@use "components/sections/section-about";
@use "components/sections/section-form";
@use "components/sections/section-posts";

@use "components/footer/footer";
@use "components/about/about-image";
.about {
  letter-spacing: 0.055em;

  background-color: #e5e5e5;
}

.about__container {
  display: grid;
}
.about h2 {
  margin-top: 0;
}
h3 {
  letter-spacing: 0.05em;

  color: #637588;

  font-size: 1.125rem;
}
.about__content p:first-of-type {
  position: relative;

  margin-top: -5px;
}
.about__content p:first-of-type::after {
  position: absolute;
  top: 0;

  width: 2px;
  height: 200px;

  content: "";

  background-color: rgba(99, 117, 136, 0.1);
}
.about__content p:last-of-type {
  margin: 0;
}
.about__container {
  max-width: 1340px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.about__container {
  gap: 100px;
  grid-template-columns: 1fr 271px;
}
