@use "../presets"  as *;
@use "../mixins/"  as *;
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  $font-size: 16px;
  font-family: $font-main;
  overflow-y: scroll;
  letter-spacing: 0.1em;
}
h1 {
  letter-spacing: 0.08em;
  color: $color-light;
  font-weight: 300;
  font-family: $font-header;
  text-align: center;
  line-height: 1.2em;

  @include lg-min {
    font-size: 3.75rem;
  }
  @include lg-md {
    font-size: 2.5rem;
  }
  @include md {
    font-size: 1.875rem;
  }
}

a {
  text-decoration: none;
  color: $color-light;
}
h2 {
  letter-spacing: 0.1em;
  color: #2d3651;
  font-family: "Roboto Slab", serif;
  line-height: 1.2em;
}
p {
  color: #637588;
}
